body{
    background-color: var(--bg-color);
    background-image: var(--bg-image);

    background-size: 50px;
    background-repeat: repeat;
    background-attachment: fixed;

    background-origin: border-box;
    background-position: 0%;
    font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    color:  var(--color);

}

.theme-light{
    --color: black;
    --bg-color: white;
    --bg-image:  url('https://github.com/Ayslan-gamedev/Site-de-Anthony/blob/main/Images/Anthony-BG-W.png?raw=true');
}

.theme-dark{
    --color: white;
    --bg-color: black;
    --bg-image:  url('https://github.com/Ayslan-gamedev/Site-de-Anthony/blob/main/Images/Anthony-BG-B.png?raw=true');
}


.barra {
    background-color: rgb(150, 150, 155);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
    line-height: 30px;
}

.downLi {
    margin: 35PX;
    font-size: 25px;
}

.test-page-left {
    margin: 1px;
    position: absolute;
    left: 10px;
}

.test-canva {
    background-color: blue;
    background-repeat: repeat-x;

}

.test-margin5 {
    margin: 5PX;
}


li {
    
    list-style-type: none;
    font-size: 20px;
    margin: 16PX;
}


a:hover{
    color: blue;
}

.test-page {
    margin: 1px;
    position: absolute;
    right: 10px;
}